.App {
  text-align: center;
  background-color: rgba(202, 124, 29, 0.76);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.itemimage{
  width: 20%;
  height: 20%;
  object-fit: cover;
  border-radius: 30px;
  position: relative;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.itemContainer{
  margin: 10px;
  background-color: 'primary.light';
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}
.itemname{
  color: 'secondary.main'
}